@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #5151ec, #A663FC);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 50vw;
    height: 55vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    font-size: 1.5em;
    position: absolute;
    top: 10px;
}

.user-info{
    width: 70%;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

[type="number"] {
    border: none;
    border-bottom: 1px solid #5652ED;
    padding: 10px 20px;
    outline: none;
}

button{
    padding: 10px 20px;
    width: 40%;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    background-image: linear-gradient(to left, #5151ec, #A663FC);
    cursor: pointer;
}

@media screen and (min-width: 1500px) {
    [type="number"] {
        width: 50%;
    }
}


@media screen and (max-width: 850px) {
    main{
        width: 60vw;
        height: 70vh;
        gap: 16px;
    }

    button{
        width: 50%;
    }
}

@media screen and (max-width: 530px) {
    main{
        width: 80vw;
    }
    button{
        width: 65%;
    }
}

@media screen and (max-width: 370px) {
    main{
        width: 90vw;
    }
    main h1{
        font-size: 1.2em;
    }
    .user-info {
        width: 90%;
    }
}